@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<h3>More information of our store</h3>

<address>
    42 Glendennan Avenue<br />
    Markham, ON <br />
    <abbr title="Phone">P:</abbr>
    416-777-7877
</address>
<h1><img alt="Address.png" src="~/Address.PNG" height="400" width="700" /></h1>

<address>
    <strong>Customer Service:</strong>   <a href="mailto:Support@example.com">PSResturant@Gamil.com</a><br />
    <strong>Take out :</strong> <a href="mailto:Marketing@example.com">TaOtPs@Gmail.com</a>
</address>